
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  .cuadrado {
    background: blue;
    height: 100px;
    width: 100px;
  }
  
  .cuadrado-azul {
    background: blue;
    height: 10px;
    width: 10px;
    border: 2px solid black;
  }
#centrar-texto {
    text-align: center;
  }
  
  .cuadrado-rojo {
    background: red;
    height: 10px;
    width: 10px;
    border: 2px solid black;
  }
  
  #centrar-con-margen {
    margin: 0 auto;
  }
  
  #centrar-con-flexbox {
    display: flex;
    justify-content: center;
  }
  
  #centrar-con-transform {
    position: relative; /* o absolute, o fixed */
    left: 50%;
    transform: translate(-50%);
  }

 